<div class="top-segment">
	<div class="header">
		<div>
			<img src="/assets/pp-modified.png" alt="" class="circle" />
			<img src="/assets/logo.png" alt="Page Logo" class="logo-image" />
		</div>

		<a mat-stroked-button href="https://github.com/18chiatt/Codenames" target="blank" class="source-button"
			>View Source</a
		>
	</div>
	<div class="primary-text">
		<div class="text-holder">
			<h1 class="heading">Artificial intelligence powered guesses for Codenames</h1>
			<h2 class="subtitle">
				Powered by <a href="https://nlp.stanford.edu/projects/glove/" class="white-link">GloVe vectors</a> and
				Wikipedia. Built by Chase Hiatt for Discord
			</h2>
		</div>
	</div>

	<div class="image-holder">
		<img src="/assets/codenames.jpg" alt="" class="main-image mat-elevation-z8" />
	</div>
</div>
<div class="main-content">
	<mat-card class="taller mat-elevation-z24">
		<mat-card-title>See it in action 🚀🚀🚀</mat-card-title>
		<carousel [cellsToShow]="1" [height]="350" class="top-margin">
			<div class="carousel-cell">
				<img src="/assets/demo2.png" alt="" class="rounded" />
			</div>
			<div class="carousel-cell">
				<img src="/assets/demo3.png" alt="" class="rounded" />
			</div>
			<div class="carousel-cell">
				<img src="/assets/demo.png" alt="" class="rounded" />
			</div>
		</carousel>
		<div class="button-aligner">
			<a mat-raised-button class="action-button" href="https://discordapp.com/users/963235221501800498" target="blank"
				>Try it out</a
			>
		</div>
	</mat-card>

	<mat-card class="mat-elevation-z24">
		<mat-card-title>Add to your server 😀👍</mat-card-title>
		<p>
			This bot can easily be added to any discord server which you have permission to manage. Simply click the button
			below to authorize the bot on your server. You can also self host the bot using the instrctions found on the
			project's Github page found <a href="https://github.com/18chiatt/Codenames">here</a>
		</p>
		<div class="button-aligner">
			<a
				mat-raised-button
				class="action-button"
				href="https://discord.com/api/oauth2/authorize?client_id=963235221501800498&permissions=2048&scope=bot"
				>Add me to Your server</a
			>
		</div>
	</mat-card>

	<mat-card class="mat-elevation-z24">
		<mat-card-title>Whitepaper - How it works 🤓🤓🤓</mat-card-title>
		<embed src="/assets/AI.pdf" type="application/pdf" class="pdf" />
		<div class="button-aligner">
			<a mat-raised-button class="action-button" href="discordapp.com/users/256607419604402176"
				>Shoot me a message on Discord</a
			>
		</div>
	</mat-card>
</div>
